.body{
    background-color: lightslategray;
  }
  .card-img-top {
      width: 100%;
      height: 20vw;
      object-fit: cover; 
  }
  h1{
    text-align: center;
  }
  h5::first-line {
    color: cadetblue;
  }
  h5 {
    text-align: left;
    text-shadow: 2px 2px 2px black;
  }
  footer{
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  h2{
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
  .project-heading{
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
  }
  
  #project-slider {
    position: relative;
    width: 500px;
    height: 400px;
  }
  #project-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  #project-slider img.active {
    opacity: 1;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #717171;
    color: #f1f1f1;
    font-size: 32px;
    font-stretch: condensed;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
  button:hover {
    background-color: cadetblue;
  }
  button#prev {
    left: -35px;
    padding: 5px 15px 5px 15px;
  }
  
  button#next {
    right: -35px;
    padding: 5px 15px 5px 15px;
  }
  .fadeIn {
    opacity: 1;
    transform: translateX(0px);
  }
  .head1 {
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    opacity: 0; /* We will start with the header hidden */
    animation: fadeIn 1s ease-in-out forwards;
    text-align:center;
  }
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* End with full opacity */
    }
  }
  .formInput {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
  }
  #form-submitted {
    margin-bottom: 3rem;
    border-radius: 3px;
    background-color:whitesmoke;
    padding: 0.5rem;
    width: 40%;
    text-align: center;
    color: #fff;
    display: none;
  }
  .formInput.error input{
border-color: red;
  }

input.error {
  border-color: red;
}

input.success {
  border-color: green;
}
#map{
  margin: auto;
  width: 50%;
  padding: 10px;
}
